@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        color: var(--color-base);
        font-family: var(--font-family-main);
        font-size: 14px;
        text-wrap: balance;
        background: radial-gradient(ellipse at center, #f9f9f9, #ffffff);
    }

    img,
    svg {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    * {
        scroll-margin-top: 2rem; 
    }

    /* Улучшенная типографика */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    p {
        text-wrap: pretty;
    }

}


