html {
	scroll-behavior: smooth;
}

body {
	color: var(--text-color);
	font-family: var(--font-main);
	font-size: 14px;
	text-wrap: balance;
}


img, svg {
    display: block;
    max-width: 100%;
	object-fit: cover;
}














