@theme {
    /* Font settings */
    --font-family-main: 'Nunito Sans', serif;


    /* Text colors */
    --color-base: #35323b;
    --color-inactive: #787486;

    /* Brand colors */
    --color-primary: #7f56d9;
    --color-secondary: #0080fc;
    --color-warning: #fdb657;
    --color-critical: #fc717a;
    --color-success: #1bcb81;
}
