.title-1 {
    @apply text-4xl text-center font-medium;
    color: var(--color-heading);
}

.title-2 {
    @apply text-2xl text-center font-medium;
    color: var(--text-color);
}

.title-3 {
    @apply text-sm font-normal;
    color: var(--color-heading);
}