@import 'tailwindcss';

.tableDesktopWrapper {
    @apply overflow-x-auto rounded-lg shadow-md hidden md:block;
}

.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    text-align: center;
    color: var(--color-text-secondary);
    background-color: var(--color-background-secondary);
    border-radius: 8px;
    border: 2px dashed var(--color-border);
}
